body{
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: "200";
    font-style: normal;
    background-color: rgba(252, 250, 252, 0.523);
}

.typewriter{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 5px solid rgb(243, 72, 249);
    width: 0;
    animation:
      typing 4s steps(18) infinite,
        blink .10s infinite;
    vertical-align: middle;
}

@keyframes typing{
    0%{
        width:0;
    }
    40%{
        width:18ch;
    }
    60%{
        width:18ch;
    }
    100%{
        width:0;
    }
}

@keyframes blink{
    50%{
        border-color: transparent;
    }
}



.about{    
    background:
        linear-gradient(
            rgba(255, 202, 243, 0.072),
            rgba(137, 145, 255, 0.06)
        ),
        url("gray_background.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
        
}
